SPRING_PROFILES_ACTIVE=dev

DB_HOST=mysql
DB_PORT=3306
DB_NAME=meuprojeto_dev
DB_TEST_NAME=meuprojeto_test
DB_USER=meuprojeto
DB_PASSWORD=

JWT_SECRET=
JWT_REFRESH_SECRET=

FRONTEND_ADMIN_URL=http://localhost:8081
FRONTEND_SITE_URL=http://localhost:8082
