APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_URL=mysql+asyncmy://meuprojeto:password@mysql:3306/meuprojeto_dev
DATABASE_URL_TEST=mysql+asyncmy://meuprojeto:password@mysql:3306/meuprojeto_test

JWT_SECRET=
JWT_REFRESH_SECRET=

FRONTEND_ADMIN_URL=http://localhost:8081
FRONTEND_SITE_URL=http://localhost:8082
