SQLSERVER_SA_PASSWORD=YourStrong!Passw0rd
DB_DEV=MeuProjeto_Dev
DB_TEST=MeuProjeto_Test

CONNECTIONSTRINGS__DEFAULT=Server=localhost,1433;Database=MeuProjeto_Dev;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;
CONNECTIONSTRINGS__TEST=Server=localhost,1433;Database=MeuProjeto_Test;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;

JWT__ISSUER=MeuProjeto
JWT__AUDIENCE=MeuProjeto
JWT__SECRET=CHANGE_ME_USE_A_LONG_RANDOM_SECRET
